<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Desc }}">
    <style>{{ .Style }}</style>
  </head>
  <body>
    {{ .Content }}
  </body>
</html>